.footer {
  background-color: white;
  border-top-color: #e4e4e4;
  border-top-style: solid;
  border-top-width: 1px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}
